/* Book component styles */
.book-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 100%;
  overflow-y: auto;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
}

.book-list li {
  margin: 2px 0;
  text-align: center;
}

.book-list button {
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  background-color: transparent;
  border: 1px solid transparent;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  outline: none;
  height: 36px;
  padding: 5px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-list button:hover {
  background-color: rgba(61, 174, 233, 0.1);
  border-color: #3daee9;
}

.book-list button.selected {
  background-color: rgba(61, 174, 233, 0.2);
  font-weight: bold;
  border-color: #3daee9;
}

.book-list h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1rem;
  color: #888;
  border-bottom: 2px solid #2a2e32;
  padding-bottom: 5px;
}

.book-list p {
  color: #888;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
}
