/* Book component styles */
.book-list {
  h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1rem;
    color: #888;
    border-bottom: 2px solid #2a2e32;
    padding-bottom: 5px;
  }

  h3.internal-title {
    margin-top: 10px;
    border-top: 2px solid #2a2e32;
    padding-top: 5px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 100%;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px 10px;
  }

  li {
    text-align: center;
  }

  button {
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    background-color: transparent;
    border: 1px solid transparent;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    outline: none;
    height: 36px;
    padding: 5px 10px 5px 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: start;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 6px;
      top: calc(50% - 2px);
      width: 4px;
      height: 4px;
      border-radius: 50%;
    }

    &.old-testament::after {
      background-color: #ff69b4;
    }

    &.new-testament::after {
      background-color: #ffd700;
    }

    &:hover {
      background-color: rgba(61, 174, 233, 0.1);
      border-color: #3daee9;
    }

    &.selected {
      background-color: rgba(61, 174, 233, 0.2);
      border-color: #3daee9;
      /* Имитация bold без изменения ширины */
      text-shadow: 0.5px 0 0 currentColor, -0.5px 0 0 currentColor;
    }
  }
}